body {
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.tickets {
    max-width: 600px;
    margin: auto;
}

.ticket {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
}

.ticket-row {
    display: flex;
    align-items: center;
}

.ticket-status {
    display: block;
    width: 40px;
    height: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.ticket-status-switch {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

.ticket-status:checked + .ticket-status-switch:after {
    position: absolute;
    content: "V";
    top: 5px;
    left: 7px;
}

.ticket-name {
    display: block;
    flex-grow: 1;
    margin: auto 2px;
}

.ticket-datetime {
    display: block;
    margin: auto 2px;
}

.ticket-toolbar {
    display: flex;
    margin: auto 2px;
}

.ticket-toolbar-element {
    display: block;
    border: 1px solid gray;
    border-radius: 50%;
    margin: auto 2px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

